# secret and base url for better-auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# for github authentication
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# for google authentication
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# for discord authentication
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# app specific
APP_NAME=zora