@theme {
    /* Dark colors */
    --color-moonshadow: #393939;
    --color-midnight: #111111;
    
    /* White colors */
    --color-light: #FFFFFF;
    --color-mistvell: #F3F2F0;
    --color-dawnlight: #DCD9D4;

    /* Focus colors */
    --color-fresh: #008EFF;
    --color-energy: #FC3B2D;
    --color-emberglow: #BF3131;
}