openapi: 3.1.0

info:
  title: Zora API
  description: Zora is a task management platform designed for small teams
  version: "0.0.0"
  contact:
    name: Biswajit Malakar
    email: mebiswajitmalakar@gmail.com

paths:
  /misc/health:
    get:
      tags:
        - Miscellaneous
      summery: Check server status
      description: Checks whether the server is running or not
      operationId: getHealthCheck
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status indicates whether the request was successfull or not
                    example: success
                  data:
                    type: string
                    example: "Server is ready to serve"
                  meta:
                    type: object
                    properties:
                      version:
                        type: string
                        example: "0.0.0"

tags:
  - name: Miscellaneous
    description: Endpoints related to miscellaneous information about server

servers:
  - url: http://localhost:8080
    description: Zora development API collection