openapi: 3.1.0


info:
  title: Zora API
  description: Zora is a task management platform designed for small teams
  version: "0.0.0"
  contact:
    name: Biswajit Malakar
    email: mebiswajitmalakar@gmail.com


servers:
  - url: http://localhost:8080
    description: Zora API collection

paths:
  /misc/health:
    get:
      tags:
        - Miscellaneous
      description: Checks whether the server is running or not
      operationId: getHealthCheck
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    description: Always `success` for successfull responses
                  data:
                    type: string
                    example: "Server is ready to serve"
                  meta:
                    type: object
                    properties:
                      version:
                        type: string
                        example: "0.0.0"
  /workspaces:
    get:
      security:
        - SessionAuth: []
      tags:
        - Workspaces
      description: Retrieves a list of all workspaces for current authenticated user
      operationId: getWorkspaces
      responses:
        "200":
          description: List of workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    description: Always `success` for successfull responses
                  data:
                    type: array
                    description: List of workspace objects or an empty list
                    items:
                      $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        
                  

tags:
  - name: Miscellaneous
    description: Endpoints related to miscellaneous information about server
  - name: Workspaces
    description: Endpoints related to retrieving and managing workspaces


components:
  securitySchemes:
    SessionAuth:
      type: apiKey
      in: cookie
      name: session_token
      description: >
        Session-based authentication. The client must include a valid
        `session_token` cookie (set after login). This cookie is HTTP-only
        and used by the server to retrieve the session from the database.

  responses:
    UnauthorizedError:
      description: Unauthorized request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: error
            errors:
              - message: Authorization is required to access this resource
                extensions:
                  code: FORBIDDEN
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: error
            errors:
              - message: An unexpected error occured on our side
                extensions:
                  code: INTERNAL_SERVER_ERROR
            
  schemas:
    Error:
      type: object
      required:
        - message
        - extensions
      properties:
        message:
          type: string
          description: A human-readable message about the error
          example: Authorization is required to access this resource
        extensions:
          type: object
          description: Some extra information about the error for debuging purpose
          required:
            - code
          properties:
            code:
              type: string
              description: A platform specific error code
              example: UNAUTHORIZED
    ErrorResponse:
      type: object
      required:
        - status
        - errors
      properties:
        status:
          type: string
          enum: [error]
          description: Always `error` for failure responses
        errors:
          type: array
          items:
            $ref: "#/components/schemas/Error"
    Workspace:
      type: object
      required:
        - id
        - name
        - slug
      properties:
        id:
          type: string
          format: cuid
          example: cixf02ym000001b66m45ae4k8
        name:
          type: string
        slug:
          type: string
          description: A unique identifier for the workspace given by user, allowing only lowercase letters, numbers, hyphens, and underscores
          pattern: ^[a-z0-9](?:[_-]?[a-z0-9])*$
          example: my-workspace-01
        color:
          type: string
          description: A hex color code
          example: "#f97316"